body{
    background-color: lightcoral;
    font-family: Helvetica;
    
}
div{
    margin-top: 20px;
}
#link{
    color: gold;
}
#link:hover{
    color: green;
}
#link:visited{
    color: blueviolet;
}
#mod{
    margin-top: 300px;
    margin-left: 800px;
    margin-right: 800px;
    margin-bottom: 300px;

    background-color: white;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#bottone{
    background-color: gold;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 40px;
    margin-bottom: 10px;
}
#bottone:hover{
    background-color: lightcoral;
    transition: ;
}


